<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
      <div class="col-md-3">
        <%= render 'books/list', user: @user, book: @book_new %>
      </div>
  <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
               <td><%= link_to user_path(@book.id) do %>
                <%= image_tag @user.get_profile_image(80, 80) %>
                <% end %><br>
                <%= link_to user_path(@book.id) do %>
                <%= @user.name %>
                <% end %>
            </td>
            <td><%= link_to book_path(@book.id) do %>
                <%= @book.title %>
                 <% end %>
            </td>
            <td><%= @book.body %></td>
            <td><%= render "favorites/btn", book: @book %></td>
            <td>コメント数:<span id="comment_count"><%= @book.book_comments.count %></span></td>
            <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
            </td>
            <% else %>
            <td></td>
            <td></td>
           <% end %>

          </tr>
        </tbody>
      </table>
           <div id="book_comment">
            <%= render "book_comments/index", book: @book, book_comment: @book_comment %>
           </div>
           <div id="comment-form">
            <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
          </div>
     </div>
   </div>
  </div>